//ion-footer {
//    ion-toolbar {
//        display: flex;
//        flex-direction: column;
//        justify-content: center;
//        align-items: center;
//        padding: 20px;
//        position: static;
//        width: 100vw;
//        height: fit-content;
//        --background: transparent;
//        flex: none;
//        order: 2;
//        align-self: stretch;
//        flex-grow: 0;
//        margin: 0px 0px;
//        z-index: 9999999;
//        div.options-wrapper {
//            display: flex;
//            flex-direction: row;
//            justify-content: space-between;
//            align-items: center;
//            padding: 0px;
//            width: 100%;
//            height: fit-content;
//            flex: none;
//            order: 0;
//            align-self: stretch;
//            flex-grow: 0;
//        }
//        ion-searchbar {
//            display: flex;
//            flex-direction: row;
//            align-items: center;
//            padding: 10px;
//            --color: #08262e;
//            --placeholder-color: #08262e;
//            width: 100%;
//            height: 44px;
//            //background: #ffffff;
//            --background: white;
//            border-radius: 30px;
//            flex: none;
//            order: 1;
//            align-self: stretch;
//            flex-grow: 0;
//            margin: 10px 0px;
//        }
//    }
//}

div.searchWrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 5px;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25), inset 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: 60px;

    //div.nearButton {
    //    display: flex;
    //    flex-flow: row nowrap;
    //    justify-content: center;
    //    align-items: center;
    //    background-color: var(--ion-color-primary);
    //    border-radius: 7px;
    //    padding: 10px;
    //    gap: 5px;
    //    ion-icon {
    //        width: 25px;
    //        height: 25px;
    //        color: white;
    //    }
    //    div.layer-wrapper {
    //        display: flex;
    //        flex-flow: column nowrap;
    //        p {
    //            margin: 0;
    //            padding: 0;
    //            color: white;
    //            display: flex;
    //            font-family: Poppins;
    //            font-style: normal;
    //            align-items: center;
    //            text-align: center;
    //            letter-spacing: -0.07em;
    //            font-size: 15px;
    //            line-height: 100%;
    //            &.cuantity {
    //                font-weight: bold;
    //            }
    //            &.unit {
    //                font-weight: normal;
    //            }
    //        }
    //    }
    //}

    ion-button {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        --background: var(--ion-color-primary);
        --border-radius: 7px;
        height: 100%;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-start: 10px;
        --padding-end: 10px;
        --ripple-color: var(--ion-color-dark);
        ion-icon {
            height: 25px;
            width: 25px;
        }
        div.layer-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px;
            margin: 0 0 0 5px;
            p {
                flex: none;
                order: 0;
                flex-grow: 0;
                margin: 0px 0px;
                display: flex;
                align-items: center;
                text-align: center;
                line-height: 100%;
                font-size: 15px;
                font-family: Poppins;
                font-style: normal;
                letter-spacing: -0.07em;
                &.cuantity {
                    font-weight: bold;
                }
                &.unit {
                    font-weight: normal;
                    text-transform: lowercase;
                }
            }
        }
    }
    ion-input {
        --placeholder-color: var(--ion-color-dark);
        text-align: center;
        --placeholder-font-style: normal;
        --color: var(--ion-color-dark);
        --placeholder-font-weight: bold;
        --placeholder-opacity: 1;
        font-family: Poppins;
        font-style: normal;
        font-weight: regular;
        font-size: 18px;
        line-height: 100%;
        display: flex;
        align-items: center;
        letter-spacing: -0.07em;
    }

    //ion-searchbar {
    //    --placeholder-color: var(--ion-color-dark);
    //    --box-shadow: none;
    //    --placeholder-font-style: normal;
    //    --placeholder-font-weight: bold;
    //    --color: var(--ion-color-medium);
    //    &::placeholder{
    //        color: var(--ion-color-dark);
    //    }
    //}
}
