div.main-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    .main-component {
        flex: none;
        flex-grow: 0;
        margin: 0px;
        &.header {
            order: 0;
        }
        &.map {
            order: 1;
            flex-grow: 1;
        }
        &.footer {
           order: 2;
        }
    }
}
