ion-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    app-main-header {
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px;
    }
    mgl-map {
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 1;
        margin: 0px;
    }
    app-main-footer {
        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px;
    }
}
